@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0 96px;
	font-family: 'Poppins', serif;
}

#nav-title {
	background-color: #f5f5f5;
	border: none;
	border-radius: 12px;
	padding: 8px 0;
}

button {
	background-color: #e4e4e4;
	padding: 8px 16px;
	border: none;
	border-radius: 12px;
	margin-top: 8px;
	width: 50%;
	font-family: 'Poppins', serif;
}

button:hover {
	background-color: #2e2e2e;
	color: #f5f5f5;
	cursor: pointer;
}

a {
	padding: 6px 12px;
	border: none;
	border-radius: 12px;
	margin-top: 8px;
	color: black;
	background-color: #e4e4e4;
	text-decoration: none;
	font-size: small;
}

a:hover {
	background-color: #2e2e2e;
	color: #f5f5f5;
}

input {
	padding: 5px 4px;
	border-radius: 8px;
	border: 1px solid #bababa;
}

select {
	padding: 5px 4px;
	border-radius: 8px;
	border: 1px solid #bababa;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 8px;
}

#username-input,
#password-input {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 8px;

	margin: 12px 0;
}

#buttons-index {
	display: flex;
	gap: 20px;
}
